<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/angular.js"></script>
</head>
<body>
    <ul ng-init="list=[200,40,11,908]">
        <li ng-repeat="tmp in list">{{tmp}}</li>
    </ul>

    <ol>
        <li ng-repeat="(key,value) in list">{{'key is'+key+'value is'+value}}</li>
    </ol>

    <span ng-init="car={name:'tom',price:30}"></span>
    <div>
        <a href="#" ng-repeat="tmp in car">{{tmp}}</a><br>
        <a href="#" ng-repeat="(key,value) in car">{{'key is'+' '+key+'  '+'value is'+' '+value}}</a>
    </div>

    <table ng-init="stu=[{name:'tom',sex:'女',score:90},{name:'jom',sex:'男',score:'80'}]">

        <thead>
            <tr>
                <th>name</th>
                <th>sex</th>
                <th>score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tmp in stu">
                <!--<td ng-repeat="(key,value) in tmp">{{value}}</td>-->
                <td ng-repeat=" value in tmp" >{{value}}</td>
             </tr>
        </tbody>

    </table>

    <table ng-init="stu=[['tom','女',90],['jom','男',80]]">
        <thead>
        <tr>
            <th>name</th>
            <th>sex</th>
            <th>score</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tmp in stu" >
                <td ng-repeat="value in tmp">{{value}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>