<!DOCTYPE html>
<html ng-app="">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/angular.js"></script>
</head>
<body>
<span ng-init="isMember=true"></span>
<div ng-if="isMember">
    会员专区，仅会员可见
</div>
<span ng-init="isMember=false"></span>
<div ng-if="isMember">
    会员专区，仅会员可见
</div>

<table ng-init="stu=[{name:'tom',sex:'女',score:40},{name:'jom',sex:'男',score:'80'}]">

    <thead>
    <tr>
        <th>name</th>
        <th>sex</th>
        <th>score</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tmp in stu" ng-if="tmp.score>60">
        <!--<td ng-repeat="(key,value) in tmp">{{value}}</td>-->
        <td ng-repeat=" value in tmp" >{{value}}</td>
    </tr>
    </tbody>

</table>
</body>
</html>